<app-header></app-header>
<section class="sec_gap">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="section_block_title">
                    <h2 class="site_section_title">Contact us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="common_txt">
                    <h4 class="condition_heading">
                        <i class="fa-brands fa-slack"></i> Address:
                    </h4>
                    <p class="about_text">
                        HT OVERSEAS<br>
                        HE-16, City Center<br>
                        Bokaro Steel City<br>
                        Jharkhand- 827004
                    </p> 
                    <h4 class="condition_heading">
                        <i class="fa-brands fa-slack"></i> Phone no:
                    </h4>
                    <p class="about_text">
                        +91 8986871860
                    </p> 
                    <h4 class="condition_heading">
                        <i class="fa-brands fa-slack"></i> Email:
                    </h4>
                    <p class="about_text">
                        studionomy4u@gmail.com
                    </p> 
                </div>
            </div> 
        </div>
    </div>
</section>
<app-footer></app-footer>