<div class="log_in_area">
    <div class="my-form my_form_2">
        <a href="index.html" class="logo_forgot_login">
            <!-- <img src="assets/img/logo/SL-Logo.png" alt="logo"> -->
            <img src="assets/img/logo/NOMY2.png" alt="logo" loading="lazy" >
            <!-- <span class="logo_title">Studio Lancers</span> -->
        </a>
        <div class="mb-3">
            <label for="exampleInputOtp4" class="form-label">enter your registered mail id<span
                    class="required">*</span></label>
            <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
                [(ngModel)]="toRegisteredMail" (keyup.enter)="getDetailsByEmail()">
        </div>
        <button type="button" class="menu_links login_btn submit_btn" (click)="getDetailsByEmail()">Submit</button>
    </div>
</div>

<ng-template #OTPEnter>
    <div class="my-form my_form_2">
        <div class="request_modal">
            <div class="card">
                <a href="index.html" class="logo_forgot_login">
                    <!-- <img src="assets/img/logo/SL-Logo.png" alt="logo"> -->
                    <img src="assets/img/logo/NOMY2.png" alt="logo" loading="lazy" style="height: 46px; width: 250px">
                    <!-- <span class="logo_title">Studio Lancers</span> -->
                </a>
                <div class="mb-3">
                    <label *ngIf="emailSentMsg" class="form-label">{{emailSentMsg}}</label>
                </div>
                <div class="mb-3">
                    <label for="exampleInputOtp4" class="form-label">enter your OTP <span
                            class="required">*</span></label>
                    <input type="number" class="form-control" id="exampleInputOtp4" aria-describedby="emailHelp"
                        [(ngModel)]="OTP">
                </div>
                <div class="mb-3">
                    <label for="exampleInputchange5" class="form-label">change password <span
                            class="required">*</span></label>
                    <input type="password" class="form-control" id="exampleInputchange5" aria-describedby="emailHelp"
                        [(ngModel)]="changePassword">
                </div>
                <div class="mb-3">
                    <label for="exampleInputconfirm6" class="form-label">confirm password <span
                            class="required">*</span></label>
                    <input type="password" class="form-control" id="exampleInputconfirm6" aria-describedby="emailHelp"
                        [(ngModel)]="confirmPassword" (keyup.enter)="checkAndUpdatePassword()">
                </div>
                <button type="button" class="menu_links login_btn submit_btn"
                    (click)="checkAndUpdatePassword()">Submit</button>
            </div>
        </div>
    </div>
</ng-template>