<app-header></app-header>
<section class="about_section sec_gap">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="section_block_title">
                    <h2 class="site_section_title">Disclaimer</h2>
                </div>
            </div>
        </div>

        <div class="common_txt">
            <div class="row">
                <div class="col-md-12">
                    <p class="about_text">
                        The information contained in this website is for general information purposes
                        only. While we try our best to keep the information up to date and correct, we
                        make no representations or warranties of any kind, express or implied, about the
                        completeness, accuracy, reliability, suitability or availability with respect to the
                        website or the information, products, services, or related graphics contained on
                        the website for any purpose. Any reliance you place on such information is
                        therefore strictly at your own risk.
                    </p>
                    <p class="about_text">
                        In no event will we be liable for any loss or damage including without limitation,
                        indirect or consequential loss or damage, or any loss or damage whatsoever
                        arising from loss of data or profits arise out of, or in connection with, the use of
                        this website.
                    </p>
                    <p class="about_text">
                        Through this website you are able to link to other websites which are not under
                        the control of HT Overseas. We have no control over the nature, content and
                        availability of those sites. The inclusion of any links does not necessarily imply a
                        recommendation or endorse the views expressed within them.
                    </p>
                    <p class="about_text">
                        Every effort is made to keep the website up and running smoothly. However, HT
                        Overseas takes no responsibility for, and will not be liable for, the website being
                        temporarily unavailable due to technical issues beyond our control.
                    </p>
                    <p class="about_text">
                        HT Overseas is located at –
                    </p>
                    <p class="about_text">
                        HT OVERSEAS<br>
                        HE-16, City Center<br>
                        Bokaro Steel City<br>
                        Jharkhand- 827004
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
