<app-header></app-header>
<section class="registration_form sec_gap">
    <div class="container-fluid">
        <div class="section_block_title">
            <h2 class="site_section_title" *ngIf="registrationType == 0">studio registration</h2>
            <h2 class="site_section_title" *ngIf="registrationType == 1">freelancer registration</h2>
            <h2 class="site_section_title" *ngIf="registrationType == 2">equipment owner registration</h2>
        </div>
        <div class="my-form row g-3">
            <div class="col-sm-6 col-md-6" *ngIf="registrationType == 0">
                <label for="inputName1" class="form-label">studio name</label>
                <input type="text" class="form-control" id="inputName1" [(ngModel)]="studioName">
            </div>
            <div class="col-sm-6 col-md-6">
                <label for="inputContact2" class="form-label" *ngIf="registrationType == 0">contact
                    person</label>
                <label for="inputContact2" class="form-label" *ngIf="registrationType != 0">Name</label>
                <input type="text" class="form-control" id="inputContact2" [(ngModel)]="name">
            </div>
            <div class="col-sm-6 col-md-6" *ngIf="registrationType != 0">
                <label for="inputAddress3" class="form-label">Address</label>
                <textarea type="text" class="form-control" id="inputAddress3" [(ngModel)]="address"></textarea>
            </div>
            <div class="col-sm-6 col-md-4" *ngIf="registrationType == 0">
                <label for="inputAddress3" class="form-label">Address</label>
                <textarea type="text" class="form-control" id="inputAddress3" [(ngModel)]="address"></textarea>
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputLocation4" class="form-label">location</label>
                <input type="text" class="form-control" id="inputLocation4" [(ngModel)]="location">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputCountry8" class="form-label">country</label>
                <select id="country" name="country" class="form-control" style="appearance: auto;"
                    [(ngModel)]="country">
                    <option value="1">India</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputState7" class="form-label">State</label>
                <select name="state" id="state" class="form-control" style="appearance: auto;" [(ngModel)]="state" (change)="getCityList()">
                    <option value="">Select state</option>
                    <option *ngFor="let item of stateList" [value]="item.state_id">{{item.state_name}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputCity14" class="form-label">City</label>
                <select name="city" id="city" class="form-control" style="appearance: auto;"
                    [(ngModel)]="city">
                    <option value="">Select city</option>
                    <option *ngFor="let item of cityList" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputPin6" class="form-label">pin</label>
                <input type="text" class="form-control" id="inputPin6" [(ngModel)]="pin"
                    onkeypress="if(this.value.length >5) return false; if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputMobile12" class="form-label">mobile no.</label>
                <!-- <input type="text" class="form-control" id="inputMobile12" [(ngModel)]="phoneNo"
                    onkeypress="if(this.value.length >9) return false; if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;"> -->
                <input type="text" class="form-control" id="inputMobile12" [(ngModel)]="phoneNo"
                    onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputMobile11" class="form-label">Alternate mobile no.</label>
                <!-- <input type="text" class="form-control" id="inputMobile11" [(ngModel)]="altPhoneNo"
                    onkeypress="if(this.value.length >9) return false; if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;"> -->
                <input type="text" class="form-control" id="inputMobile11" [(ngModel)]="altPhoneNo"
                    onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputEmail12" class="form-label">email id</label>
                <input type="email" class="form-control" id="inputEmail12" [(ngModel)]="email">
            </div>

            <!-- <div class="col-sm-6 col-md-4" *ngIf="registrationType == 1">
                <label for="inputReference13" class="form-label">Skill</label>
                <select id="skills" name="country" class="form-control" style="appearance: auto;" [(ngModel)]="skill">
                    <option value="">Select Skill</option>
                    <option value="Photographer">Photographer</option>
                    <option value="Videographer">Videographer</option>
                    <option value="Cinematographer">Cinematographer</option>
                    <option value="Dronographer">Dronographer</option>
                    <option value="Helper">Helper</option>
                    <option value="Lightman">Lightman</option>
                    <option value="Cine Camera Operater">Cine Camera Operater</option>
                </select>
            </div> -->

            <div class="col-sm-6 col-md-4">
                <label for="inputReference14" class="form-label">Skills:</label>
                <ng-multiselect-dropdown [placeholder]="'Select Skill'" [settings]="dropdownSkillSettings"
                    [data]="skillList" [(ngModel)]="skill" (onSelect)="onSkillSelected($event)">
                </ng-multiselect-dropdown>
            </div>
            
            
            
            <div class="col-sm-6 col-md-4">
                <label for="inputReference13" class="form-label">reference</label>
                <select name="reference" id="reference" class="form-control" style="appearance: auto;"
                    [(ngModel)]="reference">
                    <option value="">Choose your reference</option>
                    <option value="Face Book ad">FaceBook ad</option>
                    <option value="Youtube ad">Youtube ad</option>
                    <option value="From a Friend">From a Friend</option>
                    <option value="Call from Studio Lancer">Call from Studio Lancer</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputLinkedin18" class="form-label">Username (*Keep a note)</label>
                <input type="text" class="form-control" id="inputLinkedin18" [(ngModel)]="userName">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputpassword19" class="form-label">Password (*Keep a note)</label>
                <div style="position: relative;">
                    <input type="password" class="form-control" id="inputpassword19" [(ngModel)]="password"
                        style="position: relative;">
                    <span class="fa fa-fw fa-eye" style="position: absolute;
                top: 50%;
                right: 6px;
                transform: translateY(-50%);" (click)="passwordShowHide()" id="passview"></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" *ngIf="registrationType ==0">
                <label for="inputLinkedin19" class="form-label">4-digit Passcode</label>
                <input type="password" class="form-control" id="inputLinkedin19" [(ngModel)]="passcode" maxlength="4">
            </div>
            <!-- <div class="col-sm-6 col-md-4" *ngIf="registrationType !=0"></div> -->
            <div class="col-sm-6 col-md-4" *ngIf="registrationType ==0">
                <div class="choose_file">
                    <label for="formFile1" class="form-label">upload logo</label>
                    <div class="upload_area">
                        <input accept=".png,.jpg,.jpeg,.xls,.xlsx,.pdf" class="form-control" type="file" id="formFile1" (change)="uploadImage('logo')">
                        <img [src]="workImg1 ? imagePath + workImg1 : 'assets/img/background/no-photo.png'" alt="logo" loading="lazy" class="no_img" (click)="openImage('logo')">
                        <!-- <textarea type="text" class="form-control about_img" id="inputAbout-img1"
                            placeholder="About yourself" [(ngModel)]="aboutYouself"></textarea> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="choose_file">
                    <label for="formFile2" class="form-label">upload your photo</label>
                    <div class="upload_area">
                        <input accept=".png,.jpg,.jpeg,.xls,.xlsx,.pdf" class="form-control" type="file" id="formFile2" (change)="uploadImage('profilePhoto')">
                        <img [src]="profileImg ? imagePath + profileImg : 'assets/img/background/no-photo.png'" alt="logo" loading="lazy" class="no_img" (click)="openImage('profilePhoto')">
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-md-4">
                <div class="choose_file">
                    <label for="formFile3" class="form-label">upload your work</label>
                    <div class="upload_area">
                        <input class="form-control" type="file" id="formFile3" (change)="uploadImage('workPhoto')">
                        <img [src]="workImg3 ? imagePath + workImg3 : 'assets/img/background/no-photo.png'" alt="logo" loading="lazy" class="no_img" (click)="openImage('workPhoto')">
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
                <div class="choose_file">
                    <label for="formFile4" class="form-label">upload about image</label>
                    <div class="upload_area">
                        <input class="form-control" type="file" id="formFile4" (change)="uploadImage('aboutusImage')">
                        <img [src]="aboutusImg ? imagePath + aboutusImg : 'assets/img/background/no-photo.png'" alt="logo" loading="lazy" class="no_img" (click)="openImage('aboutusImage')">
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
                <div class="choose_file">
                    <label for="formFile5" class="form-label">upload reference image</label>
                    <div class="upload_area">
                        <input class="form-control" type="file" id="formFile5" (change)="uploadImage('reffeedbackImage')">
                        <img [src]="reffeedbackImg ? imagePath + reffeedbackImg : 'assets/img/background/no-photo.png'" alt="logo" loading="lazy" class="no_img" (click)="openImage('reffeedbackImage')">
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6 col-md-4">
                <label for="formFile2" class="form-label">About yourself</label>
                <textarea type="text" class="form-control about_img" id="inputAbout-img1" placeholder="About yourself"
                    [(ngModel)]="aboutYouself"></textarea>
            </div>
            <!-- <div class="col-sm-6 col-md-4">
                <label for="formFile2" class="form-label">About your work</label>
                <textarea type="text" class="form-control about_img" id="inputAbout-img2" placeholder="About your work"
                    [(ngModel)]="aboutWork"></textarea>
            </div> -->
            <!-- <div class="col-sm-6 col-md-4">
                <label for="formFile3" class="form-label">Your future plans</label>
                <textarea type="text" class="form-control about_img" id="inputAbout-img3"
                    placeholder="About some references or your future plans" [(ngModel)]="aboutReference"></textarea>
            </div> -->
            <div class="col-sm-6 col-md-4">
                <label for="inputWebsite" class="form-label">your website link (if any)</label>
                <input type="text" class="form-control" id="inputWebsite" [(ngModel)]="websiteLink">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputJd" class="form-label">JD link</label>
                <input type="text" class="form-control" id="inputJd" [(ngModel)]="jdLink">
            </div>

            <div class="col-sm-6 col-md-4">
                <label for="inputFb14" class="form-label">FB link</label>
                <input type="text" class="form-control" id="inputFb14" [(ngModel)]="fbLink">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputInsta15" class="form-label">insta link</label>
                <input type="text" class="form-control" id="inputInsta15" [(ngModel)]="instaLink">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputYoutube16" class="form-label">youtube link</label>
                <input type="text" class="form-control" id="inputYoutube16" [(ngModel)]="youtubeLink">
            </div>
            <div class="col-sm-6 col-md-4">
                <label for="inputLinkedin17" class="form-label">Linked in link</label>
                <input type="text" class="form-control" id="inputLinkedin17" [(ngModel)]="linkedInLink">
            </div>

            <div class="col-12">
                <div class="sign_in">
                    <button type="submit" class="menu_links login_btn submit_btn" (click)="register()">Register</button>
                </div>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>