<app-header></app-header>


<section class="get_registered_section sec_gap">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="section_block_title">
          <h2 class="site_section_title">Website Tour</h2>
        </div>
      </div>
    </div>

    <div class="row mb-4 row-first">

      <div class="col-sm-4 col-lg-4">
        <div class="video-item">
          <iframe src="https://www.youtube.com/embed/5R_wHwR9KcI" title="1. STUDIO-LOGIN-REGISTRATION-PROFILE"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="video-title">Studio Login & Registration</p>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="video-item">
          <iframe src="https://www.youtube.com/embed/mcfGSTykPCA" title="2. STUDIO-INVENTORY-EMPLOYEE" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="video-title">Studio - Inventory - Employee</p>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="video-item">
          <iframe src="https://www.youtube.com/embed/ST_RGYCZP9g" title="3 STUDIO-BOOKIKEEPING" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="video-title">Studio - Book-keeping</p>
      </div>

    </div>

    <div class="row mb-4 row-second">

      <div class="col-sm-4 col-lg-4">
        <div class="video-item">
          <iframe src="https://www.youtube.com/embed/rDDpihizxJc" title="4. STUDIO-CREATE JOBS-MY JOBS" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="video-title">Studio - Create Jobs - My Jobs</p>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="video-item">
          <iframe src="https://www.youtube.com/embed/R59oNXFdmnM" title="5. STUDIO- GET QUOTE" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="video-title">Studio - Get Quote</p>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="video-item">
          <iframe src="https://www.youtube.com/embed/MB41tcjyiEg" title="6. STUDIO-JOB LEDGER" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="video-title">Studio Job Ledger</p>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>