<app-header></app-header>
<section class="about_section sec_gap">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="section_block_title">
                    <h2 class="site_section_title">Privacy Policy</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="common_txt">
                    <p class="about_text">
                        This Privacy Policy explains how STUDIONOMY handles personal information and
                        complies with the requirements of the Privacy Act. If you have further questions relating to
                        this policy please contact our User Experience Management Team by e-mail
                        studionomy4u@gmail.com.
                    </p>
                </div>
                <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> Collecting information about you
                </h4>
                
                <p class="about_text">In accordance with the applicable Acts governing Privacy, STUDIONOMY only
                    collects
                    users’ business information that is necessary for giving a professional edge to users’
                    business and managing data in the website as entered by the user.
                </p>
                <strong class="orange_text">
                    STUDIONOMY does not ask for any personal information of the user. All information
                    collected are to be used for the purpose of its business. These include prior and post
                    purchase of STUDIONOMY’s Subscription. STUDIONOMY collects information
                    about users and prospects at the time when a person first registers and while a person is a
                    subscriber. The main categories of information we collect, relate to a person&#39;s/ business’
                    address and contact information including phone no. and e-mail address, payment details.
                </strong>
                <strong class="orange_text">
                    As this software is data management software, the data submitted by our subscriber
                    remains at our custody. The data may include the details of employees of the Users’
                    business, its freelancers, equipment owners and its customers. The data submitted by a
                    subscriber is not shared knowingly with any other business, user or person.
                </strong>
                <h4 class="condition_heading mt-3">
                    <i class="fa-brands fa-slack"></i>Using and disclosing your business information
                </h4>
               
                <p class="about_text">
                    STUDIONOMY will not normally otherwise use or disclose any information about you without your
                    consent, unless:
                </p>
                <p class="about_text">
                    1. Required by law to protect the rights, property or personal safety of another user, 
                    <strong class="orange_text">any member of the public.</strong>
                </p>
               
                <p class="about_text">
                    2. The assets and operations of the business are transferred to another party as a going concern.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> Service providers
                </h4>
                <p class="about_text">
                    Like many businesses, STUDIONOMY uses a range of service providers to help us
                    maximise the quality and efficiency of our services and our business operations. This
                    means that individuals and organizations outside of STUDIONOMY, such as mail
                    houses, will sometimes have access to business information of the users held by STUDIONOMY
                    and may use it on behalf of STUDIONOMY. We require our service
                    providers to adhere to strict privacy guidelines and not to keep this information or use it for
                    any unauthorised purposes.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> Studionomy and marketing activities
                </h4>
                <div class="about_text">
                    STUDIONOMY manages communications with users, prospective users and
                    customers according to its privacy policy. We respect individual’s choices about being
                    contacted for marketing purposes. We may occasionally contact you at the e-mail or other
                    address that you provide to us in order to:
                    <ul class="about_text">
                        <li>
                            Remind you of your subscription renewal or warn you of the upcoming expiry of subscription
                            benefits.
                        </li>
                        <li>
                            Provide you with updated information about our services or special promotions.
                            Provide you with other information about other products and services which you may have
                            an interest in.
                        </li>
                        <li>
                            Some of this information is necessary as part of our communication about the STUDIONOMY
                            program and is sent to all users. However, if you are receiving promotional
                            information from STUDIONOMY and do not wish to receive this information any longer,
                            you may remove your name from our list by e-mail at <a
                                href="mailto:studionomy4u@gmail.com" class="mail_id">studionomy4u@gmail.com</a>  and ask to
                            be removed from our promotional list. Please allow 28 days for this request to be
                            processed. Business timings: Monday through Saturday 9.30 AM to 6.30 PM. Closed on
                            Sunday and National Holidays**.
                        </li>
                    </ul>
                </div>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> For our Website users
                </h4>
                <p class="about_text">
                    STUDIONOMY is committed to high standards of data security with respect to
                    information collected on our site. We offer SSL encryption, the industry standard security
                    measures for transactions made over the Internet.
                    New technologies are emerging on the Internet that help us deliver customized visitor
                    experiences. At STUDIONOMY, we primarily use &quot;cookies&quot; to help us determine which
                    service and support information is appropriate to your computer and to facilitate your use of
                    our instant transactions area. Our use of this technology does not mean that we
                    automatically collect additional information about you. We might be able to ascertain what
                    type of computer you are using, but beyond that, our use of cookies is designed only to
                    provide you with a better experience when using our websites.
                    We want to be sure you understand that accepting a cookie in no way gives us access to
                    your computer or any personal information about you. We know that a lot of people have
                    concerns about cookies, but in talking with many of our users, we feel that the benefit we
                    both gain from their proper use is worthwhile. We value the relationships we have with our
                    users and future users, so we respect these concerns.
                </p>
                <p class="about_text">
                    Links from our website:
                </p>
                <p class="about_text">
                    Our web site contains links to other sites. Please be aware that we are not responsible for
                    the content or privacy practices of such other sites. We encourage our users to be aware
                    when they leave our site and to read the privacy statements of any other site that collect
                    personally identifiable information. We are not liable to you or any third party for any
                    damages/loss etc that you or any third party may suffer howsoever arising from your
                    disclosure of personal information in any such public environment.
                </p>
                <p class="about_text">
                    Also when you use our applications , we also process technical data such as your IP-
                    address, Device ID, Device Contacts, and information about the manufacturer, model, and
                    operating system of your mobile device. We use this data to enable us to deliver the
                    functionalities of the services provided by STUDIONOMY, resolve technical difficulties,
                    and provide you with the correct (prevent the transmission of spam, viruses and/or unlawful,
                    defamatory, obscene or otherwise undesirable material or content) and most up to date
                    version of the STUDIONOMY.
                </p>
                <p class="about_text">
                    We do not have a mobile app. Hence security issues related to an app are not applicable.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i>You can access the information we keep about you
                </h4>
                <p class="about_text">
                    If at any time you want to know exactly what personal/business information we hold about
                    you, you are welcome to access your record by sending an email at
                    <a href="mailto:studionomy4u@gmail.com" class="mail_id">studionomy4u@gmail.com</a>   Business timings: Monday
                    through Saturday 9.30 AM to 6.30
                    PM, If you are calling from outside India, please dial +91 22 68129010. Closed on Sunday
                    and National Holidays**. Our file of your information will usually be made available to you
                    within 14 days. For security purposes confirmation of your identity will be required prior to
                    supply of this information.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> Changing and deleting the information we have
                    about you
                </h4>
                <p class="about_text">
                    If at any time you wish to change personal information that is inaccurate or out of date, you
                    can do so by editing the details in your profile page. If you wish to have your personal
                    information deleted, please let us know in the same manner as referred to above point No.6
                    and we will take all reasonable steps to delete it unless we need to keep it for statutory or
                    regulatory requirement.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> Storage and security of your personal information
                </h4>
                <p class="about_text">
                    STUDIONOMY endeavours to take all reasonable steps to keep secure any
                    information which we hold about you, and to keep this information accurate and up to date.
                    STUDIONOMY uses a sophisticated computer data network, and all access to the
                    computers and system devices are password controlled. Employees can only gain access
                    to data if they are authorized, and we maintain an audit log which records each time a file is
                    accessed. We also require our employees and data processors to respect the confidentiality
                    of any personal information held by STUDIONOMY. Data is secured in a secure data
                    centre environment, with daily backups of all data taken and a copy of all data kept offsite.
                    Our data network is totally private and not accessible over the Internet. We use
                    sophisticated detection and intrusion technologies to ensure that there are no network
                    security breaches.
                </p>
                <p class="about_text">
                    Under no circumstances, including but not limited to negligence, STUDIONOMY or its
                    officers or employees shall not have any liability of any nature whatsoever, in respect of
                    personal information provided by you on this website.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> Transfer of personal information overseas
                </h4>
                <p class="about_text">
                    Please note also that as a global business, STUDIONOMY may use overseas facilities
                    to process or back up the information that it holds. As a result, we may transfer your
                    personal information to our overseas facilities for storage. However, we will only transfer
                    information overseas as authorized by the applicable Privacy laws and in keeping with our
                    other commitments to safeguard your privacy.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> What to do if you have a problem or question
                </h4>
                <p class="about_text">
                    If STUDIONOMY becomes aware of any ongoing concerns or problems concerning our
                    privacy practices, we will take these issues seriously and work to address these concerns. If
                    you have any further queries relating to our Privacy Policy, or you have a problem or
                    complaint, please mail us at <a href="mailto:studionomy4u@gmail.com" class="mail_id">studionomy4u@gmail.com</a>
                     
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i>Future changes
                </h4>
                <p class="about_text">
                    Our commitment to being the world&#39;s most popular data management software for studio
                    owners and to continually improve our services means that our business will continue to
                    evolve as we respond to customer needs. Because of this, from time to time, our policies
                    will be reviewed and may be revised. Changes to STUDIONOMY&#39;s Privacy Policy will
                    be made by posting an updated version of the policy on our website and communicated
                    subsequently in our publications for our users.
                </p>
                <br>
                 <h4 class="condition_heading">
                    <i class="fa-brands fa-slack"></i> Data Grievance Redressal Mechanism
                </h4>
               
                <p class="about_text">
                    Any complaints or request or concerns with regards to use, processing or disclosure of
                    information provided by you or breach of these terms may be taken up with the designated
                    grievance redressal officer as mentioned below by sending an email
                    to <a href="mailto:studionomy4u@gmail.com" class="mail_id">studionomy4u@gmail.com</a> or sending a registered
                    post to:
                </p>
                <p class="about_text">
                    HT OVERSEAS<br>
                    HE-16, City Center<br>
                    Bokaro Steel City<br>
                    Jharkhand- 827004
                </p> 
                <p class="about_text">We request you to please provide the following information in your complaint:</p>
                <ul>
                    <li>
                        a)  Identification of the information provided by you.
                    </li>
                    <li>
                        b) Clear statement as to whether the information is personal information or business
                        information.
                    </li>
                    <li>
                        c) Your Subscription Identification number, Mobile number and/or e-mail address.
                    </li>
                    <li>
                        e) A statement that you have a good-faith belief that use of the information has been
                        processed incorrectly or disclosed without authorization, as the case may be.
                    </li>
                    <li>
                        f) A statement, under penalty of perjury, that the information in the notice is accurate, and
                        that you are authorized to act on behalf of the owner of the right that is allegedly infringed.
                    </li>
                </ul>
                <p class="about_text">The Company may reach out to you to confirm or discuss certain details about your
                    complaint and issues raised.
                    The Company shall not be responsible for any communication, if addressed, to any non-
                    designated person in this regard.
                    You may also contact us in case you have any questions / suggestions about the Policy
                    using the contact information on website.
                </p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>