<div class="section_theme"
    style="background-image: url(assets/img/themes/frame/4.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat; width: 800px; height: 1120px; display: table; margin: auto;">
    <table cellpadding="0" cellspacing="0" width="100%" align="center" style="text-align: center;">
        <tr>
            <table style="padding: 0 100px; text-align: center; margin: 0 auto;">
                <tr>
                    <td
                        style="text-align: center; padding-top: 100px; width: 200px; height: 200px; display: table; margin: auto;">
                        <img src="assets/img/logo/SL-Logo.png" style="width: 100%; height: 100%; object-fit: contain;"
                            alt="" />
                    </td>
                </tr>
                <tr>
                    <td
                        style="font-family: 'Raleway', sans-serif; font-size: 28px; font-weight: 700; text-align: center;">
                        <h2 style="margin: 10px 0;">Studio Digipix</h2>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 20px; font-family: 'PT Serif', serif; font-weight: 400; text-align: center;">
                        <strong>Address:</strong> <br />
                        <p style="margin: 5px 0; font-weight: 400; font-size: 16px;">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quas!
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2
                            style="font-size: 30px; font-family: 'Raleway', sans-serif; display: inline-block; border-bottom: 2px solid #000; padding-bottom: 5px; margin: 10px 0;">
                            Engagement & Wedding</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 style="font-family: 'PT Serif'; font-size: 42px; color: tomato; margin: 10px 0;">
                            <p style="margin: 0; line-height: 1;">Roshan</p>
                            <p style="margin: 0; line-height: 1;">&</p>
                            <p style="margin: 0; line-height: 1;">Renu</p>
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 10px 0; font-size: 16px; font-family: 'Raleway', sans-serif;">On</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4
                            style="font-size: 20px; display: flex; align-items: center; column-gap: 10px; justify-content: center; margin: 0; font-family: 'PT Serif';">
                            <p style="margin: 0;">17.01.2021</p>
                            to
                            <p style="margin: 0;">20.01.24</p>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0px 0; font-size: 16px; font-family: 'Raleway', sans-serif;">At</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="font-size: 30px; margin: 0; font-family: 'PT Serif';">Bokarow & Hazaribag</h2>
                    </td>
                </tr>
            </table>
        </tr>
    </table>
</div>
<div class="section_theme"
    style="background-image: url(assets/img/themes/frame/3.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat; width: 800px; height: 1180px; display: table; margin: auto;">
    <table cellpadding="0" cellspacing="0" width="100%" align="center" style="text-align: center; margin: 0 auto;">
        <tr>
            <td>
                <table style="padding: 100px 40px 100px 65px; text-align: center; width: 100%;">
                    <tr>
                        <td style="width: 25%;">
                            <img src="assets/img/logo/SL-Logo.png" style="width: 100%; height: 100%; object-fit: cover;"
                                alt="">
                        </td>
                        <td style="width: 75%; vertical-align: top; text-align: left; padding-left: 30px;">
                            <h2
                                style="font-family: 'PT Serif'; font-size:25px; font-weight: 700; margin: 0 0 5px 0; text-transform: uppercase;">
                                Roshan</h2>
                            <h2 style="font-size: 20px; font-weight: 700; margin: 0 0 5px 0;">7004345255 / 7004345255
                            </h2>
                            <h2 style="font-size: 20px; font-weight: 700; margin: 0 0 5px 0;">COST - 100000</h2>
                            <h2 style="font-family: 'PT Serif'; font-size: 20px; font-weight: 700; margin: 0 0 5px 0;">
                                Projects Description:</h2>
                            <p style="font-size: 16px; font-family: 'PT Serif'; line-height: 25px; margin-top: 10px;">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem a veniam placeat possimus
                                eaque earum molestias velit amet nam optio!</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table style="width: 100%; border-collapse: collapse;" border="0">
                                <tr>
                                    <th style="width: 100%;">
                                        <h2
                                            style="margin: 0;text-align: left; font-size: 18px; font-family: 'PT Serif'; font-weight: 700; border-bottom: 2px solid black;">
                                            Days - Crew Details(All Events in Bokaro)</h2>
                                    </th>
                                </tr>
                                <!-- crew details item -->
                                <tr>
                                    <td
                                        style="display: flex; font-family: 'PT Serif'; gap: 10px; text-align: left; border-bottom: 1px solid #e5e5e5; padding: 10px 0;">
                                        <strong>23.01.2024</strong>
                                        <p style="margin: 0; text-transform: capitalize; font-size: 14px;">1
                                            Photographer, 1 Videographer, 1 Candid Photgrapher, 1 Cinematographer 1
                                            Cinematographer 1 Cinematographer1 Cinematographer1 Cinematographer</p>
                                        <p style="white-space: nowrap; margin: 0;">4 Crew</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="display: flex; font-family: 'PT Serif'; gap: 10px; text-align: left; border-bottom: 1px solid #e5e5e5; padding: 10px 0;">
                                        <strong>23.01.2024</strong>
                                        <p style="margin: 0; text-transform: capitalize; font-size: 14px;">1
                                            Photographer, 1 Videographer, 1 Candid Photgrapher, 1 Cinematographer 1
                                            Cinematographer 1 Cinematographer1 Cinematographer1 Cinematographer</p>
                                        <p style="white-space: nowrap; margin: 0;">4 Crew</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="display: flex; font-family: 'PT Serif'; gap: 10px; text-align: left; border-bottom: 1px solid #e5e5e5; padding: 10px 0;">
                                        <strong>23.01.2024</strong>
                                        <p style="margin: 0; text-transform: capitalize; font-size: 14px;">1
                                            Photographer, 1 Videographer, 1 Candid Photgrapher, 1 Cinematographer 1
                                            Cinematographer 1 Cinematographer1 Cinematographer1 Cinematographer</p>
                                        <p style="white-space: nowrap; margin: 0;">4 Crew</p>
                                    </td>
                                </tr>
                                <!-- crew details item -->
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>
<div class="section_theme"
    style="background-image: url(assets/img/themes/frame/3.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat; width: 800px; height: 1180px; display: table; margin: auto;">
    <table cellpadding="0" cellspacing="0" width="100%" align="center" style="text-align: center;">
        <tr>
            <table style="padding: 100px 40px 100px 65px; text-align: center; width: 100%;">

                <tr>
                    <td style="text-align: left;" colspan="2">
                        <h2 style="text-transform: uppercase; font-family: 'PT Serif'; font-size: 18px; margin: 5px 0;">
                            Deliverables</h2>
                        <ul style="margin: 0;">
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    2 - 14*40in Album with around 250 photos beautifully designed on Diamond Metallic
                                    pages with 35 sheets, Embossed cover, photo box and minibook.
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    Edited teaser of 5 min on youtube+120 min edited video.
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    Mobile wedding Invitation.
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    All photos and edited videos in a 64 GB pendrive.
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    2 photoframe of 10*15 inches.
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <h2 style="text-transform: uppercase; font-family: 'PT Serif'; font-size: 18px; margin: 0;">
                            Custom Field Name</h2>
                        <p style="margin: 10px 0;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati cum voluptate voluptatum
                            consequatur beatae autem, hic dolores sunt eum officiis.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;" colspan="2">
                        <h2 style="text-transform: uppercase; font-family: 'PT Serif'; font-size: 18px; margin: 0;">
                            Terms & Conditions</h2>
                        <ul style="margin: 0;">
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    Payment Terms: 10% Advance, 60% on event date, Rest 30% on total products delivery
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    Lodging and fooding facilities will be provided by the client. (Out of Bokaro)
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    All the softcopies( RawVideos) will be provided in either Pen drive or HDD,
                                    themarketvalue of the storage device will be borne by the client.
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    All softcopies will be erased from our end after a month of final delivery of
                                    products.
                                </p>
                            </li>
                            <li>
                                <p style="margin: 5px 0; font-size: 15px; font-family: 'PT Serif';">
                                    Payment to be done via Phone Pe / Google Pay on 9674812302 (Shubhashish Halder)
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>

            </table>
        </tr>
    </table>
</div>