<app-header></app-header>
<section class="about_section sec_gap">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="section_block_title">
                    <h2 class="site_section_title">About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="about_text">
                    Studio Lancers is a software to manage Photography Studios and similar workplaces. This is a beautifully designed website
                    exclusively tailored to the daily needs of a photography studio.
                </p>
                <ul class="needs-ul">
                    <li>Quotation Building</li>
                    <li>Job Entries</li>
                    <li>Inventory Management</li>
                    <li>Employee Records</li>
                    <li>Billing</li>
                    <li>Dynamic Calendar</li>
                    <li>Multiple Accounting</li>
                    <!-- <li>Networking</li> -->
                </ul>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>