<app-header></app-header>
<section class="about_section sec_gap">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="section_block_title">
                    <h2 class="site_section_title">Refund Policy</h2>
                </div>
            </div>
        </div>
        <div class="common_txt">
            <div class="row">
                <div class="col-md-12">
                    <p class="about_text fs-4"  style="color: #7bc1ff;">Cancellation-and-Refund</p>
                    <p class="about_text">You have a period of one month to use this software on zero subscription fee basis. Once
                        you are certain that you want this data management software for your business, then only
                        you may subscribe. After you have made the payment for subscription, there will be a
                        period of 7 days to cancel your subscription by mailing your request to
                        <a href="mailto:studionomy4u@gmail.com" class="mail_id">studionomy4u@gmail.com</a> as well as through a button provided on your profile page. A
                        telephonic conversation may be done to ensure the authority of the request sender and
                        obtain your feedback regarding the website and usage.
                    </p>
                    <p class="about_text">Orders paid by Credit/Debit Card will be refunded by credit back to the
                        Credit/Debit Card within 14 working days and the refund will reflect in the next
                        statement.
                    </p>
                    <p class="about_text">
                        Orders paid by net banking accounts will be credited back to bank account.
                    </p>
                    <p class="about_text">
                        For all other modes of payment, we will send a refund cheque. The cheque will
                        be made in favour of the name as in the &quot;billing name&quot; provided at the time of
                        placing the order.
                    </p>
                    <p class="about_text">Post refund, you will not be able to access your user ID and data submitted by you during
                        your usage. The data will remain saved in the server for 1 year after which
                        STUDIONOMY holds the right to delete it.
                    </p>
                    <p class="about_text">If you want to renew your subscription within one year of cancellation, then you get all the
                        data you have submitted in the website. If you renew your subscription after passing of one
                        year since cancellation, STUDIONOMY cannot be held responsible for recovery of your
                        data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
