<app-header></app-header>
<section class="registration_form create_job sec_gap">
    <div class="container-fluid">
        <app-common-header></app-common-header>
        <p style="text-align: right;font-weight: 500;color: #f7a36d;font-size: 18px;">Date : {{currentDate | date:
            'dd-MM-yyyy'}}</p>
        <div class="event_cal_bgimg">
            <div class="event_cal jobcalender">
                <h1 *ngIf="userType == 0; else freelanceCal" class="site_section_title" style="text-align: center;margin:10px 0;">Studio's Calendar</h1>
                <ng-template #freelanceCal>
                    <h1 class="site_section_title" style="text-align: center;margin:10px 0;">{{name}}'s Calendar</h1>
                </ng-template>
                <full-calendar [options]="calendarOption" *ngIf="userType == 0"></full-calendar>
                <full-calendar [options]="requestBookingcalendarOption" *ngIf="userType !=0"></full-calendar>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>

<ng-template #requestDetails>
    <div class="request_modal">
        <h4>Request Details</h4>
        <div class="card">
            <div class="request_body">
                <h6>Request From : <span>{{reqDetails.orgName}}</span></h6>
                <h6>Name : <span>{{reqDetails.name}}</span></h6>
                <h6>Phone No : <span>{{reqDetails.mobile}}</span></h6>
                <h6>Alt Phone No : <span>{{reqDetails.alt_mobile ? reqDetails.alt_mobile : 'Not available'}}</span></h6>
                <h6>Job Number : <span>{{reqDetails.job_number}}</span></h6>
                <h6>Event Location : <span>{{reqDetails.event_location}}</span></h6>
                <h6>Skills : <span>{{reqDetails.skills}}</span></h6>
                <h6>Payment : <span *ngIf="reqDetails.payment != 0">{{reqDetails.payment}}</span></h6>
                <h6>Message : <span>{{reqDetails.message}}</span></h6>
                <h6>Booking Date : <span>{{dateFormat(reqDetails.req_date)}}</span></h6>
            </div>
        </div>
        <div class="close" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></div>
        <div class="request_btn">
            <button (click)="acceptRequest()">Accept</button>
            <button (click)="declineRequest()">Decline</button>
        </div>
    </div>
</ng-template>